body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #020101;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }

  main {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .category {
    width: 30%;
    margin: 20px;
  }

  .category h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .news {
    margin-top: 20px;
    cursor: pointer;
  }

  .news img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .news h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .news p {
    font-size: 14px;
  }

  #selectedNews {
    max-width: 50%;
    padding: 20px;
    background-color:#f9f9f9 ;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0,.1) 0px;
    position: absolute;
  }

  #selectedNews h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;

  }

  #selectedNews img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    

  }

  #selectedNews p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }